@import url("https://fonts.googleapis.com/css?family=Gaegu|Pacifico");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Gaegu", sans-serif;
  font-size: 18px;
  background: #FCFCFC;
  color: #575757; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300; }

h3 {
  font-size: 20px;
  line-height: 1.2;
  margin: 1.2em 0 0 0;
  font-weight: normal;
  display: block; }
  @media screen and (max-width: 600px) {
    h3 {
      font-size: 15px; } }

a {
  text-decoration: none;
  color: #BF0222;
  outline: none; }

a:hover {
  border-bottom: 1px solid #BF0222; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

img.alignright {
  margin-left: 40px; }

.inner {
  width: 700px;
  margin: 0 auto;
  padding: 10px 20px 30px 20px; }
  @media screen and (max-width: 700px) {
    .inner {
      width: 100%;
      padding-bottom: 10px; } }

.clearfix {
  *zoom: 1; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.mono {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace; }

.sans {
  font-family: "Gaegu", sans-serif; }

.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;
  /* Content */
  content: attr(data-pullquote);
  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;
  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em; }

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0; }

header.global {
  background-color: #FF6736;
  color: #F6F6F6; }
  header.global .inner nav {
    float: right;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 0px; }
    header.global .inner nav > ul > li {
      display: inline-block;
      margin-left: 10px; }
  header.global .inner .logo {
    font-size: 45px;
    font-family: "Pacifico", sans-serif;
    color: #F6F6F6; }
    header.global .inner .logo:hover {
      border-bottom: none; }
  header.global .inner .pitch {
    margin: 15px 0px 0px 0px; }
